.section-about {
    width: 100%;
    height: auto;
}

.container-header {
    background-color: #FFD1D1;
}

.one {
    background-color: burlywood;
}

.two {
    background-color: aliceblue;
}

.about-contents {
}

.about-description {
}

.about-border {
    border: 5px solid #4c4646;
}