.form__message--success {
  font-family: Arial, Helvetica, sans-serif;
  color: #008000;
}

.form__input {
  font-family: Arial, Helvetica, sans-serif;
}

.form__message--error {
  font-family: Arial, Helvetica, sans-serif;
  color: #CC0000;
}

.form__input:focus {
  border-color: #008000;
  background: #ffffff;
}

.form__input--error {
  color: #CC0000;
  border: 2px solid #CC0000;
}

.form__input-error-message {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #CC0000;
}

.form__button {
  background-color: #FFD1D1;
  color: white;
}

.form__button:hover {
  background-color: #FF6075;
  color: black;
}

.form__text {
  font-size: 10pt;
  cursor: pointer;
}

.form__link {
  color: #4c4646;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  color: black;
  text-decoration: underline;
}