main {
  font-family: "Luckiest Guy", cursive;
  padding: 0;
  margin: 0;
  background-color: rgb(253, 201, 225);
}
.game-container {
  background-image: url(../assets/showcase.svg);
  padding-bottom: 15%;
}
.equation {
  position: relative;
  background-color: white;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  border-radius: 4px;
}
.equation h1 {
  display: inline;
  padding: 10px;
}
.ans h1 {
  cursor: pointer;
  text-align: center;
  color: aliceblue;
  border-radius: 5px;
}
#scoreboard {
  position: absolute;
  top: 0;
  right: 0;
}
.lives-container {
  position: absolute;
  top: 0;
}
.hearts {
  max-width: 5.5%;
  float: left;
}
#option1 {
  background-color: red;
}
#option1:hover {
  transition: 0.6s;
  background-color: white;
  color: red;
}
#option2 {
  background-color: aquamarine;
}
#option2:hover {
  transition: 0.6s;
  background-color: white;
  color: aquamarine;
}
#option3 {
  background-color: tomato;
}
#option3:hover {
  transition: 0.6s;
  background-color: white;
  color: tomato;
}
