@font-face {
  font-family: "Bubblegum";
  src: url(/fonts/Bubblegum.ttf);
  src: url(/fonts/Bubblegum.ttf) format("truetype"),
    url(/fonts/Bubblegum.woff) format("woff");
}

body {
  background-color: white;
  font-family: "Bubblegum", sans-serif;
}

/* navigation bar */
.navbar {
  background-color: white;
}

.nav-item {
  padding: 0.8rem;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black !important;
  font-size: 1em;
}

.nav-link:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.2em;
}

.nav-link:visted {
  color: black;
}

.nav-item button {
  background-color: #FFD1D1;
  border: none;
}

.nav-item button:hover {
  background-color: #FF6075;
  color: black;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* footer */
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link {
  padding: 0.5em;
  font-size: 8pt;
  text-decoration: none;
}

.footer-link:hover {
  padding: 0.5em;
  font-size: 8pt;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.2em;
}

.footer-link:visited {
  color: black;
}

.footer-copyright {
  color: #666;
  font-size: 0.5em;
}

/* modal */
.modal-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.modal-content {
  position: relative;
}

.login-link-btn:hover,
.register-link-btn:hover {
  cursor: pointer;
}

/* placeholder */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 8pt;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 8pt;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 8pt;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 8pt;
}
