@font-face {
  font-family: "BubbleGum";
  src: url("../fonts/Bubblegum.eot") format("eot"),
    url("BubbleGum.svg#BubbleGum") format("svg"),
    url("../fonts/Bubblegum.ttf") format("truetype"),
    url("../fonts/Bubblegum.woff") format("woff"),
    url("../fonts/BubbleGum.woff2") format("woff2");
}

body {
  background-color: white;
  font-family: "BubbleGum", sans-serif;
}

/* navigation bar */
.navbar {
  background-color: white;
  position: relative;
}

.nav-item {
  padding: 0.8rem;
}

.navbar-brand {
  color: black;
  width: 16vh;
}

.nav-link {
  color: black !important;
  font-size: 1em;
}

.nav-link:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.2em;
}

.nav-link:visted {
  color: black;
}

.nav-item button {
  background-color: #ffd1d1;
  border: none;
}

.nav-item button:hover {
  background-color: #ff6075;
  color: black;
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* footer */
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link {
  padding: 0.5em;
  font-size: 8pt;
  text-decoration: none;
  color: #4C4646;
}

.footer-link:hover {
  padding: 0.5em;
  font-size: 8pt;
  color: #4C4646;
  text-decoration: underline;
  text-decoration-color: #4c4646;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.2em;
}

.footer-link:visited {
  color: #4C4646;
}

.footer-copyright {
  color: #666;
  font-size: 0.5em;
}

/* modal */
.modal-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.modal-content {
  position: relative;
}

/* placeholder */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 8pt;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 8pt;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 8pt;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 8pt;
}