@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
section {
  width: 100%;
  height: auto;
  background-color: #f5d6e7;
}

#title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 350px;
  height: 420px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.row-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.tile {
  /* Box */
  border: 3px solid rgb(158, 14, 139);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 2.5px;

  /* Text */
  color: rgb(121, 16, 240);
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #008000;
  color: white;
  border-color: white;
}

.present {
  background-color: #E6DA3B;
  color: white;
  border-color: white;
}
.keyboard-row .correct {
  background-color: #008000;
}
.keyboard-row .present {
  background-color: #e6da3b;
}
.absent {
  background-color: #666;
  color: white;
  border-color: white;
}
.keyboard-row .absent {
  background-color: #666;
}

.keyboard-row {
  max-width: 700px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  border: 0;
  padding: 0;
  margin-right: 6px;
  height: 58px;
  border-radius: 20%;
  cursor: pointer;
  user-select: none;
  background-color: #c468c4;
  color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.keyboard-row button:hover {
  background-color: #C41876;
}
.keyboard-row button:active {
  background-color: #801346;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}
.wordle-button {
  background-color: #C468c4;
  border-style: none;
}
.wordle-button:active {
  background-color: #610361;
  color: rgb(240, 248, 255);
}
.wordle-error-msg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #CC0000;
}